@media (max-width:980px) {
    label #btn{
        display: block;
    }
    header {
        padding: 15px 40px;
        border-radius: 0;
    }
    header.sticky {
        padding: 10px 25px;
    }
    header .img-logo{
        width: 75px;
    }
    header ul{
        position:fixed;
        width : 100%;
        height: 100%;
        padding: 0;
        background: #2b4162;
        justify-content:center;
        text-align: center;
        top: 100px;
        right:-100%;
        display: block;
        transition: all 0.5s;
    }
    header ul li{
        padding : 3vh 0;
        margin : 4vh 0;
        font-size: 20px;
        line-height: 25px;
    }
    header.sticky{
        background: #abc3d8;
    }
    header.sticky ul li a{
        color: #ffff;
    }
    #check:checked ~ ul{
        right: 0;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }

    

    .main{
        width:320px;
      }
    .footer-wave-box {
        display: none;
      }
    .single-footer:first-child, .single-footer {
        width: 100%;
        margin-bottom:30px;
      }
}

@media (max-width:425px){
    input[type="text"],
    input[type="submit"]{
        border-radius: 20px;
    }
    input[type="submit"]{
        margin-top: 0.5vh;
    }


}

