@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 300ms;
    padding: 20px 50px;
    z-index: 100000;
}
header .img-logo{
    position: relative;
    width: 80px;
    height: auto;
    image-rendering: optimizeQuality;
    
}
header ul{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #ffff;
    transition: 300ms;
}
header ul li a:hover{
    color: #ffff;
}
header ul li a:before{
    position:absolute;
    content:'';
    left: 0;
    bottom: 0;
    height: 1.5px;
    width: 100%;
    background: rgb(233,75,62);
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.5s ease;
}
header ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: right;
    }
label #btn,
label #cancel{
    color : #2b4162;
    font-size: 30px;
    float: right;
    margin-right: 2vw;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* sticky*/
header.sticky {
    padding: 15px 75px;
    transition: 0.5s ease-in-out;
    background: #fff6;
  }
  header.sticky ul li a{
    color: #2b4162;
  }
  header.sticky ul li a:hover:before{
    background: #2b4162;
  }

body{
    background-color: WHITE;
}

.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(img/mesh-gradient.png);
}
.landing-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.landing-text h2{
    text-align: center;
    font-size: 3em;
    letter-spacing: 0.5vw;
    color: #2b4162;
}
.landing-text p{
    font-size: 1.2em;
    color: #111;
}
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vw;
    background: url(img/wave.png);
    background-size: 100% 100%;
    animation: waves 4s ease-in-out infinite;
    animation-delay: calc(var(--i)*0.25s);

}
.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    background-position-x: 40vw;
}
.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    background-position-x: 30vw;
}
.wave#wave3 {
    z-index: 998;
    opacity: 0.2;
    background-position-x: 20vw;
}
.wave#wave4 {
    z-index: 999;
    opacity: 0.1;
    background-position-x: 10vw;
}

.corps {
    width: 100%;
    height: 100vh;
}


  
  
@keyframes waves {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
}